body *{
    margin: 0;
    border: 0;
    padding: 0;
}
body{
    background: #000000;
    color: #FFFFFF;
    width: 100%;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}
header{
    margin-top: 73px;
    margin-left: 0px;
    height: 727px;
}

h1{
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 7px;
    margin-top: 7px;
}

.header-iguana {
  width:100%;
  height:670px;
}
.desc-section{
    font-weight: 300;
    display: inline-block;
    height: 348px;
}
.desc-section p{
    font-size: 16px 19px;
    font-weight: 300;
    text-align: left;
    margin-top: 76px;
    margin-left: 150px;
}
.iguanajpg{
    float: right;
    margin-left: 106px;
    margin-right: 150px;
    margin-top: 43px;
    width:399px;
    height:237px;
}
.caract-section{
    padding: 75px 150px 74px;
    background: #1E1A13;
    text-align: center;
}
h2{
    font-weight: 500;
    margin-bottom: 50px;
    font-size: 47px;
}
.caract-section p{
    font-size: 25px;
    font-weight: 300;
}
.iconos{
    padding: 50px;
    text-align: center;
    display: inline-block;
    margin-left: 75px;
}
.caract-section i{
    margin: 15px;
}
.image-section{
    margin-left: 77px;
    display: inline-block;
    padding: 61px;
}
#i-jpg{
    width: 316px;
    height: 202px;
    margin: 16px;
}

footer{
    background: #1E1A13;
    text-align: center;
    padding: 39px;
    font-size: 20px;
}